@use '../general' as *;

.side-bar {
    @include flex-col;

    justify-content: space-between;
    position: fixed;
    width: 256px;
    height: 100%;
    top: 0;
    padding: 72px 16px 16px;

    @include mobile {
        align-items: center;
        height: auto;
        padding: 12px 0;
        top: 64px;
        right: 0;
        z-index: 11;
        background-color: var(--color-white);
        border: 1px solid;
        border-color: var(--color-gray);
        border-radius: 20px;
        transform: translate(100%);
        transition: transform .3s ease;
        
        &.active {
            transform: translateX(0);
        }
    }

    &__tablet {
        @include flex-col;

        gap: 16px;
    }
    
    &__elements {
        display: none;
        gap: 20px;

        @include tablet {
            @include flex-col
        }

        #nav {
            @include tablet {
                display: flex;
                order: 2;
            }
        }

        .header__profile {
            @include tablet-s {
                display: flex;
                order: 1;
            }
        }

        .header__search {
            @include tablet-s {
                display: flex;
                width: 210px;
                order: 3;
            }
        }
    }

    &__bottom {
        @include flex-col;
        
        align-items: center;
        gap: 12px;

        font-size: 12px;
        color: var(--color-gray-2);
    }

    &__helpers {
        @include flex-center;

        gap: 12px;

        a {
            color: var(--color-gray-2);
            transition: all .2s ease-in;
            
            &:hover {
                color: var(--color-dark)
            }
        }
    }

    &__version {
        @include flex-center
    }
}

.side-menu {
    @include mobile {
        padding-bottom: 30px;
    }

    &__item {
        @include flex-center;

        transition: all .2s;
        border-radius: 12px;

        &:hover{
            background-color: var(--color-red-bg);
        }
    }

    &__link {
        @include flex-center;

        flex: 1;
        padding: 12px;
        gap: 12px;
        

        @include mobile {
            align-items: center;
        }
    }

    &__icon {
        display: block;
    }
}


