@mixin flex-center {
    display: flex;
    align-items: center;
}
@mixin flex-jc-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flex-col {
    display: flex;
    flex-direction: column;
}
@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
